body {
  font-family: 'Courier New', Courier, monospace, serif;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #0d5a6b;
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #0d5a6b;
}

#story {
  font-size: 20px;
}

input {
  border: 2px dotted #0d5a6b;
  margin: 5px;
  text-align: left;
}

label {
  color: #b4469a;
  float: left;
  margin: 5px;
  font-weight: bold;
  width: 180px;
}

button {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #FFFFFF;
  background-color: #0d5a6b;
}